html {
  background: #b3b3b3;
  margin: 15px;
  padding: 15px;
  border: 5px solid white;
  height: 2000px;
  overflow: auto;
}

body {
  padding: 20px;
  margin: 0;
  background: #fa923f;
  border: 5px solid black;
  overflow: hidden;
}

.parent {
  background: #fff;
  padding: 20px;
  margin: 0;
  border: 5px solid #000;
  position: relative;
  top: 200px;
}

.parent div {
  background: rgba(105, 105, 109);
  color: #fff;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
}
/*
.parent .child-1{
    position: fixed;
    width: 400px;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
*/
